<div class="col-md-8">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="float-right">
              <button class="btn btn-primary text-center" onclick="window.history.back()" ><i class="fa fa-arrow-left "></i> back
              </button>
        </div>
      <% if(data !== null ){ %>
        <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Surat Lamaran</th>
              <th>Ijazah</th>
              <th>KTP</th>
              <th>Lampiran</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(berkas => { %>
              <tr>
                <td>1.</td>
                <td>
                 <% let surat_lamaran=""; if(berkas.surat_lamaran){ surat_lamaran="/images/file.png" }else{ surat_lamaran="/images/no_data.png" } %>
                  <div class="text-center">
                    <a href="/admin/Berkaslamaran/<%= berkas.id_pelamar %>/suratLamaran">
                      <img class="profile-user-img img-fluid img-circle" src="<%= surat_lamaran %>" height="100px" width="100px" alt="Foto"></a>
                      <br> 
                    <%= berkas.surat_lamaran.length !== 0 ? 'Sudah Upload' : 'Belum Upload' %>
                  </div>
              </td>
                <td>
                  <% let ijazah=""; if(berkas.ijazah){ ijazah="/images/file.png" }else{ ijazah="/images/no_data.png" } %>
                  <div class="text-center">
                    <a href="/admin/Berkaslamaran/<%= berkas.id_pelamar %>/ijazah">
                        <img class="profile-user-img img-fluid img-circle" src="<%= ijazah %>" height="100px" width="100px" alt="Foto">
                      </a>
                      <br>
                    <%= berkas.ijazah.length !== 0 ? 'Sudah Upload' : 'Belum Upload' %>
                  </div>
                </td>
                <td>
                  <% let ktp=""; if(berkas.ktp){ ktp="/images/file.png" }else{ ktp="/images/no_data.png" } %>
                  <div class="text-center">
                    <a href="/admin/Berkaslamaran/<%= berkas.id_pelamar %>/ktp">
                    <img class="profile-user-img img-fluid img-circle" src="<%= ktp %>" height="100px" width="100px" alt="Foto"></a>
                    <br>
                    <%= berkas.ktp.length !== 0 ? 'Sudah Upload' : 'Belum Upload' %>
                  </div>
                  </div>
                </td>
                <td>
                  <% let lampiran=""; if(berkas.lampiran){ lampiran="/images/file.png" }else{ lampiran="/images/no_data.png" } %>
                  <div class="text-center">
                    <a href="/admin/Berkaslamaran/<%= berkas.id_pelamar %>/lampiran">
                    <img class="profile-user-img img-fluid img-circle" src="<%= lampiran %>" height="100px" width="100px" alt="Foto"></a>
                    <br>
                    <%= berkas.lampiran.length !== 0 ? 'Sudah Upload' : 'Belum Upload' %>
                  </div>
                  </div>
                </td>
              </tr>
            <%  }); %>
          </tbody>
      </table>
      <div class="float-right" style="margin-top: 20px;">
        <tr>
          <% data.map(berkas => {
              if(berkas.seleksi[0].seleksi_berkas == 1){

          %>
            <div class="form-inline">
                <form action="/admin/konfimasiBerkas" method="post" style="margin-right: 15px;">
                  <input type="hidden" name="id_pelamar" value="<%= berkas.id_pelamar %>">
                  <input type="hidden" name="seleksi_berkas" value="3">
                  <button class="btn btn-danger" onclick="confirm('anda yakin?')">Ditolak</button>
                </form>
                <form action="/admin/konfimasiBerkas" method="post">
                    <input type="hidden" name="id_pelamar" value="<%= berkas.id_pelamar %>">
                    <input type="hidden" name="seleksi_berkas" value="2">
                    <button class="btn btn-success" onclick="confirm('anda yakin?')">Diterima</button>
                </form>
            </div>
          <% }else if(berkas.seleksi[0].seleksi_berkas == 2){ %>
            <button class="btn btn-success" onclick="alert('Peserta Lulus Tahap Administrasi')">Peserta lulus Tahap Administrasi</button>
          <% }else if(berkas.seleksi[0].seleksi_berkas == 3){ %>
            <button class="btn btn-danger" onclick="alert('Peserta Gugur Tahap Administrasi')">Peserta Gugur Tahap Administrasi</button>
          <% } %>
        <% }) %>
        </tr>
      </div>
      
      <% }else{ %>
        <h3>Belum ada berkas yg di Upload.</h3>  
      <% } %>
    </div>
  </div>
  </div>